<html>
  <head></head>
  <body>
    <h1>Albums</h1>
    <% @albums.each do |album|%>
      <p>
        Title: <%= album.title%>
        Release year: <%= album.release_year%>
      </p>
    <% end %>
  </body>
</html>

